/* Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* Theme */

:root[theme='dark'] {
  --primary-color: #282828;
  --secondary-color: #2d2d2d;
  --accent-color: #2ca5e0;
  --text-color: #c4c4c4;
}

:root[theme='light'] {
  --primary-color: #fff;
  --secondary-color: #eeeeee;
  --accent-color: #2ca5e0;
  --text-color: #555;
}

/* General styling */

body {
  background: var(--primary-color);
  color: var(--text-color);
  font-size: 1.8rem;
  font-family: Poppins;
}

main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
}

main,
.home,
.skills {
  margin-bottom: 10rem;
}

.skills__title,
.projects__title {
  margin-bottom: 2rem;
}

.skill,
.project,
footer {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* Header */

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  padding: 2rem;

  background: var(--primary-color);
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__link,
.nav__theme {
  transition: color 0.5s ease-in-out;
}

.nav__link:hover,
.nav__theme:hover {
  color: var(--accent-color);
}

.drop-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 18px;
}

/* Home */

.gradient-orange {
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f7b733,
    #fc4a1a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7b733,
    #fc4a1a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.gradient-green {
  background: #0cebeb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #29ffc6,
    #20e3b2,
    #0cebeb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #29ffc6,
    #20e3b2,
    #0cebeb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.gradient-orange:hover,
.gradient-green:hover {
  background-size: 100% 88%;
}

.home__title,
.home__subtitle,
.home__about,
.home__cv {
  margin-bottom: 3rem;
}

.home__title {
  font-size: 3.6rem;
}

.home__cv,
.contacts__item {
  display: inline-block;
  padding: 1rem;
}

.home__cv,
.contacts__link {
  color: white;
  font-weight: 500;
}

.home__cv {
  background: var(--accent);
}

.contacts__item:not(:last-of-type) {
  margin-bottom: 1rem;
}

.contacts__item--linkedin {
  background: #0077b5;
}

.contacts__item--github {
  background: #121011;
}

.contacts__item--codewars {
  background: #b1361e;
}

.contacts__item--hackerrank {
  background: #2ec866;
}

.contacts__item--kotakode {
  background: #13a458;
}

.contacts__item--whatsapp {
  background: #25d366;
}

.contacts__item--telegram {
  background: #2ca5e0;
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.7rem;
}

.link__icon {
  margin-right: 1rem;
}

/* Skills & Projects */

.skill:not(:last-of-type) {
  margin-bottom: 3rem;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'],
.project {
  background: var(--secondary-color); /* Code & project background */
}

code[class*='language-'],
pre[class*='language-'] {
  font-family: Inconsolata, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;
}

.project-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.project {
  padding: 2rem;
}

.project__title,
.project__photo,
.project__description,
.project__techs {
  margin-bottom: 2rem;
}

.techs__item {
  display: inline-block;
  padding: 0.5rem;
}

hr {
  margin-bottom: 2rem;
}

.project__links {
  display: flex;
  justify-content: space-around;
}

.project__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  padding: 1rem;

  background: var(--accent);

  color: white;
}

.project__link:first-of-type {
  margin-right: 1rem;
}

/* Footer */

footer {
  padding: 1.5rem;

  background: var(--primary-color);

  text-align: center;
}

.designed {
  display: inline block;
  background: linear-gradient(45deg, #ffb74d, #fc5857);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  font-family: 'Dancing Script', sans-serif;
  font-size: 2.5rem;
}

.coded {
  padding: 0.2rem;

  background: wheat;
  border-radius: 5px;

  color: #222;
  font-family: Inconsolata, sans-serif;
}
